apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "impulse.fullname" . }}-config
  labels:
    {{- include "impulse.labels" . | nindent 4 }}
data:
  impulse.yml: |
    {{- $config := .Values.impulseConfig -}}
    {{- if or .Values.templates.header .Values.templates.body .Values.templates.status_icons -}}
    {{- $_ := set $config.messenger "template_files" (dict) -}}
    {{- if .Values.templates.header -}}
    {{- $_ := set $config.messenger.template_files "header" "/config/header.j2" -}}
    {{- end -}}
    {{- if .Values.templates.body -}}
    {{- $_ := set $config.messenger.template_files "body" "/config/body.j2" -}}
    {{- end -}}
    {{- if .Values.templates.status_icons -}}
    {{- $_ := set $config.messenger.template_files "status_icons" "/config/status_icons.j2" -}}
    {{- end -}}
    {{- end -}}
    {{- toYaml $config | nindent 4 }}
  {{- if .Values.templates.header }}
  header.j2: |
    {{- .Values.templates.header | nindent 4 }}
  {{- end }}
  {{- if .Values.templates.body }}
  body.j2: |
    {{- .Values.templates.body | nindent 4 }}
  {{- end }}
  {{- if .Values.templates.status_icons }}
  status_icons.j2: |
    {{- .Values.templates.status_icons | nindent 4 }}
  {{- end }}
