{{- $hasSecrets := false }}
{{- if eq .Values.impulseConfig.messenger.type "slack" }}
  {{- if .Values.secrets.inline.slack.botUserOauthToken }}
    {{- $hasSecrets = true }}
  {{- end }}
{{- end }}
{{- if eq .Values.impulseConfig.messenger.type "mattermost" }}
  {{- if .Values.secrets.inline.mattermost.accessToken }}
    {{- $hasSecrets = true }}
  {{- end }}
{{- end }}
{{- if eq .Values.impulseConfig.messenger.type "telegram" }}
  {{- if .Values.secrets.inline.telegram.botToken }}
    {{- $hasSecrets = true }}
  {{- end }}
{{- end }}
{{- if .Values.secrets.inline.google.serviceAccountKey }}
  {{- $hasSecrets = true }}
{{- end }}
{{- if $hasSecrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "impulse.fullname" . }}-secrets
  labels:
    {{- include "impulse.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if eq .Values.impulseConfig.messenger.type "slack" }}
  {{- if .Values.secrets.inline.slack.botUserOauthToken }}
  slack-bot-user-oauth-token: {{ .Values.secrets.inline.slack.botUserOauthToken | b64enc | quote }}
  slack-verification-token: {{ .Values.secrets.inline.slack.verificationToken | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if eq .Values.impulseConfig.messenger.type "mattermost" }}
  {{- if .Values.secrets.inline.mattermost.accessToken }}
  mattermost-access-token: {{ .Values.secrets.inline.mattermost.accessToken | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if eq .Values.impulseConfig.messenger.type "telegram" }}
  {{- if .Values.secrets.inline.telegram.botToken }}
  telegram-bot-token: {{ .Values.secrets.inline.telegram.botToken | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.secrets.inline.google.serviceAccountKey }}
  google-service-account-key: {{ .Values.secrets.inline.google.serviceAccountKey | b64enc | quote }}
  {{- end }}
{{- end }}
